<!-- perfil.component.html -->

<div class="max-w-4xl mx-auto px-4 py-8">

  <!-- Encabezado -->
  <h1 class="text-2xl font-bold mb-4">Perfil de Usuario</h1>

  <!-- Información del Usuario -->
  <div *ngIf="usuario" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">

    <!-- Nombre y Apellido -->
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">Nombre:</label>
      <p class="text-gray-900">{{ usuario.NOMBRES }} {{ usuario.APELLIDOS }}</p>
    </div>

    <!-- Correo Electrónico -->
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">Correo:</label>
      <p class="text-gray-900">{{ usuario.CORREO }}</p>
    </div>

  </div>

  <!-- Mensaje si no se encuentra usuario -->
  <div *ngIf="!usuario" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <p class="text-gray-900">No se encontró información de usuario.</p>
  </div>

  <!-- Botón para Editar Perfil -->


</div>
