<!-- categorias.component.html -->

<div class="container mx-auto py-8">
    <h1 class="text-3xl font-semibold mb-4">Nuestros Expedientes</h1>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
      <!-- Categoría (repetir según sea necesario) -->
      <div class="bg-white rounded-lg shadow-md overflow-hidden" *ngFor="let categoria of categorias">
        <img [src]="categoria.FOTO" [alt]="categoria.NOMBRE" class="w-full h-60 object-cover">
        <div class="p-4">
          <h3 class="text-lg font-semibold mb-2">{{ categoria.NOMBRE }}</h3>
          <p class="text-gray-600">{{ categoria.DESCRIPCION }}</p>
          <button class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition duration-300 mt-4" (click)="navigateToCategoria(categoria.ID)" >Ver mas</button>
        </div>
      </div>


    </div>
  </div>
