<!-- restaurantes.component.html -->

<div class="container mx-auto py-8">
    <h1 class="text-3xl font-semibold mb-4">Restaurantes Disponibles</h1>
  
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
      <!-- Restaurante (repetir según sea necesario) -->
      <div class="bg-white rounded-lg shadow-md overflow-hidden" *ngFor="let restaurante of restaurantes">
        <img [src]="restaurante.imagen" [alt]="restaurante.NOMBRE" class="w-full h-60 object-cover">
        <div class="p-4">
          <h3 class="text-lg font-semibold mb-2">{{ restaurante.NOMBRE }}</h3>
          <button class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition duration-300 mt-4">Ver mas</button>
        </div>
      </div>

  
      <!-- Repetir para otros restaurantes -->
    </div>
  </div>
  