<!-- pedidos-finalizados.component.html -->

<div class="container mx-auto py-8">
  <h1 class="text-3xl font-semibold mb-4">Pedidos Finalizados</h1>

  <!-- Lista de Pedidos Finalizados (repetir según sea necesario) -->
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4" >
    <!-- Pedido Finalizado (repetir según sea necesario) -->
    <div class="bg-white rounded-lg shadow-md p-4" *ngFor="let orden of completedOrders">
      <h2 class="text-lg font-semibold mb-2">Pedido #{{orden.ID}}</h2>
      <p class="text-gray-600">Fecha de entrega: {{orden.FECHA_PEDIDO}}</p>
      <p class="text-gray-600">Productos:</p>
      <p class="text-gray-600" [innerHTML]="orden.DETALLE_PRODUCTOS"></p>
      <p class="text-gray-600">Envio: Q15</p>
      <p class="text-black-600 font-semibold ">Total: Q{{orden.TOTAL_PEDIDO}}</p>
    </div>

  </div>
</div>
